<!-- header start -->

<header class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</header>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="/" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% else %}
      <a class="blog-logo" href="/">{{ site.title }}</a>
    {% endif %}
    <a href="/"><h1 class="blog-title">{{ site.title }}</h1></a>
    <nav id="nav-wrap" class="custom-links">
      <div id="nav-menu">MENU</div>
      <ul id="nav">
        {% for page in site.pages %}
          {% if page.layout %}
            {% if page.permalink %}
              <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
</header>

<!-- header end -->
